.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 500px;
  border-radius: 15px;
  margin: 20px;
  border: 1px solid gray;
  padding: 10px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.task-group {
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.complete {
  text-decoration: line-through !important;
  font-style: italic !important;
  color: gray !important;
}