.task {
  display: flex;
  flex-direction: row;
  align-items: left;
  max-width: 500px;
  margin-top: 20px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}